DATABASE_URL="postgresql://ecosphere_user:ecopassword@db:5432/ecosphere"

NEXTAUTH_URL="https://ecosphere.spb.ru"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

NEXT_PUBLIC_BASE_URL="https://ecosphere.spb.ru"

# Optional
DB_PASSWORD="ecopassword"
# TELEGRAM_BOT_TOKEN=""
